@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');


:root {
  --color-primary: #6f6af8;
  --color-white: #fff;
  --color-red: rgb(255, 63, 63);
  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);
  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);
  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;
  --color-gradient: #223466;

  --color-bg: hwb(240 95% 0%);

  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-700);
}

a {
  color: var(--color-gray-700);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  line-height: 1.4;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  /* border: 2px solid red; */
}

section {
  margin-top: 8rem; 
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn.category {
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 500;
}

.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}

.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}

.btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error-page h2{
  margin-top: 3rem;
}






/*=========================================== NAVBAR ===========================================*/
nav {
  width: 100vw;
  height: 6rem;
  display: grid;
  place-items: center;
  background: var(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
  padding: .5rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__profile-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.nav__menu li a {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  align-items: flex-end;
  gap: 0.5rem;
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 120px; /* Adjust the width as needed */
  background-color: rgba(0, 0, 0, 0.441);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.441) transparent transparent transparent;
  transform: rotate(180deg);
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.nav__logo {
  width: 3rem;
  display: block;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__toggle-btn {
  display: none;
}




/*=========================================== FOOTER ===========================================*/
footer {
  background: var(--color-gray-900);
  margin-top: 10rem;
  padding-top: 6rem;
}

.footer__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.footer__categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer__categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
}






/*=========================================== LANDING PAGE ===========================================*/
.landing__page {
  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  overflow: hidden;
  /* border: 2px solid green; */
}

.pattern {
  background-color: transparent;
  opacity: 0.8;
  background-image: radial-gradient(#028dc4 0.6px, #e5e5f700 0.6px);
  background-size: 25px 25px;
}

.landing__page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.hero__install-images {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  margin-left: -10rem;
}

.cursor-example {
  position: fixed;
  top: 100;
  left: 100;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: rgba(111, 208, 211, 0.736);
  z-index: -2;
  filter: blur(100px);
  opacity: 0.5;
}

.hero__text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__text h1 {
  font-size: 72px;
  line-height: 4.8rem;
}

.hero__text span {
  background: linear-gradient(to right, #f97351 0%, #ff8a63 25%, #de9069 50%, #e9a071 75%, #e9a46f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__image img{
  width: 630px;
}










/*=========================================== POSTS ===========================================*/
.posts__container {
  /* margin-top: 9rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}



/*=========================================== POST ITEM ===========================================*/
.post {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-2);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post__thumbnail {
  border-radius: var(--radius-1);
  overflow: hidden; 
  height: 16rem;
}

.post__thumbnail img {
  border-radius: var(--radius-3);
  height: 16rem;
} 

.post__content {
  margin-top: 1.5rem;
}

.post__content h3{
  margin: 0.5rem 0 0.6rem;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}

.post__author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.post__author-avatar {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: var(--radius-2);
  overflow: hidden;
}






/*=========================================== POST DETAIL ===========================================*/
.post-detail {
  width: 90%;
  background: var(--color-white);
  margin-inline: auto;
  padding: 2rem 0;
}

.post-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.post-detail__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.post-detail__thumbnail img{
  margin: 1rem 0;
  max-height: 30rem;
  overflow: hidden;
}

.post-detail p {
  margin-bottom: 0.7rem;
}





/*=========================================== LOGIN & FORM ===========================================*/
.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  resize: none;
}

.form__error-message {
  background: var(--color-red);
  color: var(--color-white);
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  display: block;
  margin-bottom: 1rem;
}

.register, .login, .create-post, .contact {
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.login .container, .register .container, .contact .container {
  padding: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-3);
}

.register h2, .login h2, .create-post h2 {
  margin-bottom: 2rem;
}

.register small, .login small, .contact small {
  display: block;
  margin-top: 1.5rem;
}

.register small a, .login small a, .contact small a  {
  color: var(--color-primary);
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact p {
  margin-bottom: 1rem;
}


/* Custom style for ReactQuill */
.ql-editor {
  /* overflow: scroll; */
  background: var(--color-white);
  height: 10rem !important;
  max-width: 100%;
  height: 300px !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 1em !important;
  color: #333 !important;
}

.ql-toolbar {
  background-color: #f1f1f1 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  max-width: 39rem;
}

.ql-container {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  max-width: 39rem;
}









/*=========================================== USER PROFILE ===========================================*/
.profile__container {
  display: grid;
  place-items: center;
  align-items: center;
}

.profile__buttons {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.profile__details {
  width: 100%;
}

.avatar__wrapper {
  width: 15rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
}

.profile__avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color-white);
  overflow: hidden;
}

.avatar__form {
  height: 1rem;
}

.avatar__form input {
  visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
  background: var(--color-gray-900);
  color: var(--color-white);
  font-size: 1.3rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.profile__avatar-btn {
  cursor: pointer;
  padding: 0;
  font-size: 1.3rem;
  background: var(--color-primary);
}

.profile__details h1 {
  margin-top: 1.5rem;
}

.form.profile__form {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}






/*=========================================== DASHBOARD ===========================================*/
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.dashboard__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--color-white);
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius-3);
}

.dashboard__post-info {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.dashboard__post-thumbnail {
  width: 4rem;
  border-radius: var(--radius-1);
  overflow: hidden;
}

.dashboard__post-actions {
  display: flex;
  gap: 1rem;
}









/*=========================================== ABOUT ===========================================*/
.about {
  overflow: hidden;
}

.about-heading h1{
  text-align: center;
  color: #f97351
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 3.5rem auto;
  gap: 4rem;
}

.about-content {
  flex: 1;
  text-align: justify;
}

.about-content h2{
  text-align: center;
}

.about-content p {
  font-size: 18px;
 line-height: 1.4;
 color: #666;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border-radius: var(--radius-3);
}











/*=========================================== DONATE ===========================================*/
.donation__container {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

.donation__title {
  color: #ff5e62;
  margin-bottom: 20px;
  animation: 1s ease-out forwards;
}

.donation__description {
  font-size: 1.2rem;
  color: #333;
  animation: fadeIn 1s ease-out forwards;
}

.wallet {
  margin-top: 20px;
  animation: 1s ease-out forwards;
}

.wallet-label {
  font-size: 1.1rem;
  color: #666;
}

.wallet-address {
  font-size: 1rem;
  color: var(--color-white);
  margin: 10px 0;
  font-weight: bold;
  background-color: #666;
  padding: 10px;
  border-radius: var(--radius-2);
}

.copy-button {
  background: #ff5e62;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.copy-button:hover {
  background: #ff9966;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


















/*=========================================== CONTACT ===========================================*/
/* custom-phone-input.css */
.phone-input-container {
  width: 100% !important;
  max-width: 400px !important;
  margin: 0 auto !important;
  border: 2px solid #ccc !important;
  border-radius: 5px !important;
  padding: 10px !important;
  background-color: #f9f9f9 !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  padding: 12px !important;
  border: none !important;
  border-radius: 5px !important;
  font-size: 16px !important;
}

.react-tel-input .flag-dropdown {
  border: none !important;
  background: none !important;
}

.react-tel-input .flag-dropdown:hover {
  background: var(--color-white) !important;
}

.react-tel-input .selected-flag {
  padding: 5px !important;
}

.react-tel-input .country-list {
  max-height: 150px !important;
  overflow-y: scroll !important;
  border: 1px solid #ccc !important;
}

.react-tel-input .country-list .country {
  padding: 8px 10px !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #f0f0f0 !important;
}

.react-tel-input .country-list .country .dial-code {
  color: #888 !important;
}
















/*=========================================== PRIVACY ===========================================*/
.privacy__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: rgb(255,242,240);
  padding: 30px 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #333;
  text-align: justify;
}

.privacy__container h1 {
  color: #ff5e62;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  border-bottom: 2px solid #ff5e62;
  padding-bottom: 10px;
}
.privacy__container p {
  line-height: 1.8;
  text-align: justify;
  margin: 20px 0;
  font-size: 1.1em;
}

















/*=========================================== LOADER ===========================================*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: var(--color-bg);
}

.loader__image {
  width: 4.5rem;
  aspect-ratio: 1/1;
}



/*=========================================== MEDIA QUERIES (small devices) ===========================================*/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  .container {
    width: var(--container-width-md);
  }

  /* NAVBAR */
  .nav__container {
    position: relative;
  }

  .nav__menu {
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    gap: 0;
  }

  .nav__menu li {
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
    animation: dropDown 500ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }

  @keyframes dropDown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 900ms;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 1200ms;
  }

  .nav__menu li:nth-child(6) {
    animation-delay: 1500ms;
  }

  .nav__menu li a {
    display: block;
    background: var(--color-white);
    padding: 0.85rem 2.5rem;
  }

  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* LANDING PAGE */
  .landing__page {
    height: calc(100vh - 22rem);
  }

  .landing__page-container {
    max-width: max-content;
  }

  .hero__install-images {
    margin: 0;
  }

  .cursor-example {
    display: none;
  }

  .hero__text h1 {
    font-size: 38px;
    line-height: 3rem;
  }

  .hero__image {
    display: none;
  }

  /* HOME */
  .posts__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* FOOTER */
  .footer__categories {
    flex-direction: column;
  }

  /* POST DETAIL */
  .post-detail {
    width: 100%;
    background: transparent;
    padding: 0;
  }

  .post-detail h1 {
    margin-top: 1rem;
  }



  .register, .login, .create-post {
    width: 100%;
  }

  /* USER PROFILE */
  .form.profile__form {
    margin-top: 2.5rem;
    width: 100%;
  }

  /* DASHBOARD */
  .dashboard__post {
    flex-direction: column;
  }

  .dashboard__post-info {
    gap: 1.5rem;
  }

  .dashboard__post-thumbnail {
    width: 5rem;
  }

  .about-container {
    flex-direction: column;
    gap: 2rem;
  }

  /* DONATION */
  .wallet-address {
    font-size: 0.74rem;
  }
}